In [2]:
import pandas as pd
df = pd.read_csv("mldata.csv")
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [3]:
df["gender"]= df["gender"].replace("Male", 1)
df["gender"]= df["gender"].replace("Female", 0)
df.tail()

     age  height  weight  gender likeness
240   31   160.0    60.0       1   Pakora
241   26   172.0    70.0       1  Biryani
242   40   178.0    80.0       1  Biryani
243   25     5.7    65.0       1  Biryani
244   33   157.0    56.0       0   Samosa

In [4]:
# selection of input and output variables
X= df[["age","height","weight","gender"]]
y= df["likeness"]

In [6]:
#machine learning algorithm 
from sklearn.tree import DecisionTreeClassifier

# create and fit our model 
model = DecisionTreeClassifier().fit(X,y)

In [8]:
#prediction 
model.predict([[31, 160, 80, 1]])[0]

C:\Users\Epazz\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

'Biryani'

In [19]:
# Saving our model 
import joblib
joblib.dump(model, "food_practice.joblib")

['food_practice.joblib']

## Checking accurary of the model

In [16]:
# split data into test and train (80/20 rule)
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2 )

# create a model 
model = DecisionTreeClassifier()
# fittine a model 
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [17]:
y_pred = model.predict(X_test)
y_pred

array(['Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Pakora', 'Biryani', 'Biryani', 'Samosa', 'Biryani', 'Pakora',
       'Biryani', 'Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Pakora', 'Biryani',
       'Biryani', 'Biryani', 'Samosa', 'Pakora', 'Biryani', 'Samosa',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani'], dtype=object)

In [18]:
score = accuracy_score(y_test, y_pred)
score

0.5510204081632653

## Making Decision tree graph

In [21]:
#graph 
from sklearn import tree
model = DecisionTreeClassifier().fit(X,y)
# model.fit(X, y)
# graphic evaluation / look into what happened 
tree.export_graphviz(model,
                     out_file="foodie_practice.dot",
                     feature_names=["age","height","weight","gender"],
                     class_names = sorted( y.unique()),
                     label= "all",
                     rounded= True,
                     filled =True)